.components {
    display:inline-block;
    height:100%;
}

.colorPicker {
    display:inline-block;
    border:solid 5px lightgrey;
    border-radius:10px;
    margin-bottom:20px;
}

.swatch {
    display:inline-block;
    border:solid 1px black;
    margin:0 0 0 1em;
    height:4em;
    width:5em;
}

.swatch.rounded {
    border-radius:5px;
}

.swatch>input {
    float:right;
}