.caption {
    font-family: helvetica;
    font-size: 16px;
    margin-top: 12px;
}
.gridHeader, .gridMain, .gridNav, .gridAside, .gridFooter{
    text-align: center;
    padding: 20px;
}

.gridHeader{
    background-color: #d0c4ff;
    grid-row-start: 1;
    grid-row-end: 2;
}

.gridMain{
    background-color: blanchedalmond ;
    grid-row-start: 3;
    grid-row-end: 7;
}

.gridNav{
    background-color: mediumpurple ;
    grid-row-start: 2;
    grid-row-end: 3;
}

.gridAside{
    background-color: lightgreen ;
    grid-row-start: 7;
    grid-row-end: 8;
}

.gridFooter{
    background-color: lightcoral;
    grid-row-start: 8;
    grid-row-end: 9;
}

.grid{
    display: grid;
    grid-template-columns: auto;
}
@media screen and (min-width: 786px){
    .grid{
        display: grid;
        grid-template-columns: 5% 10% auto 10% 5%;
    }

    .gridHeader{
        background-color: #d0c4ff;
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .gridMain{
        background-color: blanchedalmond ;
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .gridNav{
        background-color: mediumpurple ;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        overflow:hidden;
    }


    .gridAside{
        background-color: lightgreen ;
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 2;
        grid-row-end: 3;

    }

    .gridFooter{
        background-color: lightcoral;
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row-start: 3;
        grid-row-end: 4;
    }
}