h1 {
    font-size: 150%;
    color: #007e7e;
}
h2 {
    font-size: 130%;
    color: red;
}
footer{
    position: center;
    text-align:center;
}
#Lounge{
    color: #007e7e;
}
#weekly{
    color: black;
}
p{

}
.first{
    float:right;
    width:30%;
    text-align:center;
    border-spacing: 1em 0;
    border:dotted;
}
.wrapper{
overflow:hidden;
}
.second{
overflow:hidden;
}
.top{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    font-size: 10px;
}
#guarantee{
    background-color: #a7cece;
    color: #444444;
    padding:20px;
    margin:30px;
    border:dotted;
}
p{
    font-family: Verdana, Helvetica, Arial, sans-serif;
}
a:hover{
    background-color: brown;
}