div {
	text-align:center;

}
.area {
	width:100px;
	height:100px;
	background:red;
	display:block;
}

.tall {
	height:50px;
}

.short {
	height:50px;
}

.floaty{
	float:left;
	background:green;
}

.break {
	clear: both;
	background:blue;
}